<script
  src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
  crossorigin=""
></script>
<script>
  const data = [
    { latlng: [-6.341387, 106.904108], name: "RPTRA Garuda" },
    { latlng: [-6.336638, 106.89733], name: "RPTRA Tamplas Bambu" },
    { latlng: [-6.330712, 106.897148], name: "RPTRA Payung Tunas Teratai" },
    { latlng: [-6.34398, 106.911716], name: "RPTRA Tunas Bangsa Bisa" },
    { latlng: [-6.319742, 106.902757], name: "RPTRA Bambu Petung" },
    { latlng: [-6.344233, 106.908389], name: "RPTRA Kusuma Baru" },
    { latlng: [-6.351028, 106.889955], name: "Taman Apung" },
    { latlng: [-6.352374, 106.90784], name: "Taman Salix" },
  ];

  const map = L.map("map").setView([-6.332506, 106.897917], 15);
  var OpenStreetMap_Mapnik = L.tileLayer(
    "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
    {
      maxZoom: 19,
      attribution:
        '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
    }
  ).addTo(map);

  for (let i = 0; i < data.length; i++) {
    marker = new L.marker(data[i].latlng)
      .bindPopup(
        `${data[i].name}<br> <span id=addt-info> tutup sementara </span>`
      )
      .openPopup()
      .addTo(map);
  }
</script>
