<script
  src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
  crossorigin=""
></script>
<script>
  const data = [
    { lat: -6.341387, lang: 106.904108, name: "RPTRA Garuda" },
    { lat: -6.336638, lang: 106.89733, name: "RPTRA Tamplas Bambu" },
    { lat: -6.330712, lang: 106.897148, name: "RPTRA Payung Tunas Teratai" },
    { lat: -6.34398, lang: 106.911716, name: "RPTRA Tunas Bangsa Bisa" },
    { lat: -6.319742, lang: 106.902757, name: "RPTRA Bambu Petung" },
    { lat: -6.344233, lang: 106.908389, name: "RPTRA Kusuma Baru" },
  ];

  const map = L.map("map").setView([-6.332506, 106.897917], 15);
  var OpenStreetMap_Mapnik = L.tileLayer(
    "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
    {
      maxZoom: 19,
      attribution:
        '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
    }
  ).addTo(map);

  for (let i = 0; i < data.length; i++) {
    marker = new L.marker([data[i].lat, data[i].lang])
      .bindPopup(
        `${data[i].name}<br> <span id=addt-info> tutup sementara </span>`
      )
      .addTo(map);
  }
</script>
